* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(47, 24, 255);
}

nav .Argumentos{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color:rgb(153, 153, 153);
    border-radius: 8px;
    height: 50px;
    font-weight: bold;
}

a{
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 1.4rem;
    text-decoration: none;
}

h1 {
    text-align: center;
    font-size: 4rem;
    color: rgb(255, 255, 255);
}

.caixa {
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: 40px;
    margin-left: 38%;
    background-color: rgb(49, 49, 49);
    border-radius: 16px;
    width: 450px;
    height: 300px;
    display: flex;                
    justify-content: center;     
    align-items: center;         
    text-align: center;          
}
p{
    color: white;
}
p2{
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}